<div class="container">
  <!-- Sidebar -->
 <aside class="sidebar">
    <div class="profile">
      <img src="assets/images/administrador.png" alt="Foto" class="profile-img" />
      <h2>Juan Jose Bermudez</h2>
    </div>

    <nav class="nav">
      <a routerLink="/administrador" class="nav-link"><i class="ri-user-line"></i>Administrador</a>
      <a routerLink="/operadores" class="nav-link"><i class="ri-walk-line"></i> Operadores</a>    
      <a routerLink="/productos" class="nav-link"><i class="ri-restaurant-fill"></i> Productos</a>
      <a routerLink="/adicionales" class="nav-link"><i class="ri-goblet-2-fill"></i> Adicionales</a>
      <a routerLink="/clientes" class="nav-link active"><i class="ri-user-fill"></i> Clientes</a>
      <a routerLink="/" class="nav-link logout"><i class="ri-logout-box-line"></i> Log Out</a>
    </nav>
  </aside>
  <!-- Contenido principal -->
  <main class="main-content">
    <h1>Listado de Clientes</h1>

    <div class="search-container">
      <input
        type="text"
        id="search-input"
        placeholder="Buscar clientes..."
        [(ngModel)]="searchTerm"
        (keyup)="buscarClientes()"
      />
      <i class="fas fa-search"></i>
    </div>

    <div class="button-submit">
      <button routerLink="/clientes/agregar" class="btn-submit">
        Agregar Cliente
      </button>
    </div>

    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of filteredClientes; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>
              <div class="btn-container">
                <button class="btn yellow" routerLink="/clientes/detalle/{{ cliente.id }}">
                  <i class="fas fa-eye"></i>
                </button>
                <button class="btn green" routerLink="/clientes/editar/{{ cliente.id }}">
                  <i class="fas fa-edit"></i>
                </button>
                <button class="btn red" (click)="deleteCliente(cliente.id)">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
