<div class="dashboard">
  <!-- Sidebar -->
  <aside class="sidebar">
  <div class="profile">
    <img src="/assets/images/administrador.png" alt="Foto" class="profile-img" />
    <h2>Juan Jose Bermudez</h2>
  </div>

  <div class="sidebar-content">
    <nav class="nav">
      <a routerLink="/clientes/perfil" class="nav-link active">
        <i class="ri-user-line"></i> Mi Perfil
      </a>
      <a routerLink="/clientes/pedidos" class="nav-link">
        <i class="ri-shopping-cart-2-line"></i> Mis Pedidos
      </a>
       <a routerLink="/menu" class="nav-link">
              <i class="ri-restaurant-fill"></i>
              <span>Ver Menu</span>
            </a>
    </nav>

    <div class="logout-wrapper">
      <a routerLink="/" class="nav-link logout">
        <i class="ri-logout-box-line"></i> Log Out
      </a>
    </div>
  </div>
</aside>


  <!-- Main Content -->
  <!-- Main Content -->
<main class="main-content">
  <div class="orders-card">
    <h2 class="orders-title">Editar Perfil</h2>

    <form (ngSubmit)="guardarCambios()" #form="ngForm">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <div class="input-icon">
          <i class="ri-user-line"></i>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" required />
        </div>
      </div>

      <div class="form-group">
        <label for="apellido">Apellido</label>
        <div class="input-icon">
          <i class="ri-user-line"></i>
          <input type="text" id="apellido" name="apellido" [(ngModel)]="cliente.apellido" required />
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-icon">
          <i class="ri-mail-line"></i>
          <input type="email" id="email" name="email" [(ngModel)]="cliente.email" required />
        </div>
      </div>

      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <div class="input-icon">
          <i class="ri-phone-line"></i>
          <input type="text" id="telefono" name="telefono" [(ngModel)]="cliente.telefono" required />
        </div>
      </div>

      <div class="form-group">
        <label for="direccion">Dirección</label>
        <div class="input-icon">
          <i class="ri-map-pin-line"></i>
          <input type="text" id="direccion" name="direccion" [(ngModel)]="cliente.direccion" required />
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn btn-green">
          <i class="ri-check-line"></i> Guardar
        </button>
      </div>
    </form>
  </div>
</main>

</div>
