<!-- Header -->
<header class="header" id="header">
    <div class="header__container">
      <button class="header__toggle" id="header-toggle">
        <i class="ri-menu-line"></i>
      </button>
    </div>
  </header>
  
  <!-- Sidebar -->
  <nav class="sidebar" id="sidebar">
    <div class="sidebar__container">
      <div class="sidebar__user">
        <div class="sidebar__img">
          <img src="/assets/images/administrador.png" alt="image" />
        </div>
  
        <div class="sidebar__info">
          <h3>Juan Jose Bermudez</h3>
          <span></span>
        </div>
      </div>
  
      <div class="sidebar__content">
        <div class="sidebar__list">
          <a routerLink="/clientes/perfil/1" class="sidebar__link">
            <i class="ri-profile-line"></i>
            <span>Mi Perfil</span>
          </a>
  
          <a href="#" class="sidebar__link">
            <i class="ri-walk-line"></i>
            <span>Mis Pedidos</span>
          </a>
  
          <a href="#" class="sidebar__link">
            <i class="ri-riding-line"></i>
            <span>Historial Pedidos</span>
          </a>
        </div>
      </div>
  
      <div class="sidebar__actions">
        <a routerLink="/" class="sidebar__link">
          <i class="ri-logout-box-r-fill"></i>
          <span>Log Out</span>
        </a>
      </div>
    </div>
  </nav>
  
  <!-- Main -->
  <main class="main container" id="main">
    <div class="main-content">
      <h1>Bienvenido a su portal de cliente</h1>
      <div class="table-container">
        <section class="dashboard">
          <div class="card">
            <i class="ri-restaurant-fill"></i>
            <h2>120</h2>
            <p>Pedidos Finalizados</p>
          </div>
          <div class="card">
            <i class="ri-heart-fill"></i>
            <h2>5</h2>
            <p>Comidas Favoritas</p>
          </div>
          <div class="card">
            <i class="ri-shopping-cart-fill"></i>
            <h2>1</h2>
            <p>Pedidos en Curso</p>
          </div>
          <div class="card">
            <i class="ri-money-dollar-circle-fill"></i>
            <h2>$55,000</h2>
            <p>Gastos Mensuales</p>
          </div>
        </section>
      </div>
    </div>
  </main>
  