<div class="main container" id="main">
    <!--=============== HEADER ===============-->
    <header class="header" id="header">
      <div class="header__container">
        <button class="header__toggle" id="header-toggle">
          <i class="ri-menu-line"></i>
        </button>
      </div>
    </header>
  
    <!--=============== SIDEBAR ===============-->
    <nav class="sidebar" id="sidebar">
      <div class="sidebar__container">
        <div class="sidebar__user">
          <div class="sidebar__img">
            <img src="assets/images/administrador.png" alt="Administrador" />
          </div>
          <div class="sidebar__info">
            <h3>Juan Jose Bermudez</h3>
          </div>
        </div>
        <div class="sidebar__content">
          <div>
            <h3 class="sidebar__title">MANAGE</h3>
            <div class="sidebar__list">
              <a routerLink="/administrador" class="sidebar__link">
                <i class="ri-vip-crown-fill"></i>
                <span>Administrador</span>
              </a>
              <a routerLink="/adicionales" class="sidebar__link">
                <i class="ri-goblet-2-fill"></i>
                <span>Adicionales</span>
              </a>
              <a routerLink="/productos" class="sidebar__link">
                <i class="ri-restaurant-fill"></i>
                <span>Productos</span>
              </a>
              <a routerLink="/clientes" class="sidebar__link">
                <i class="ri-user-fill"></i>
                <span>Clientes</span>
              </a>
              <a routerLink="/operadores" class="sidebar__link">
                <i class="ri-user-settings-fill"></i>
                <span>Operadores</span>
              </a>
            </div>
          </div>
        </div>
        <div class="sidebar__actions">
          <button class="sidebar__link">
            <i class="ri-logout-box-r-fill"></i>
            <span>Log Out</span>
          </button>
        </div>
      </div>
    </nav>
  
    <!--=============== MAIN ===============-->
    <main class="main-content">
      <h1>Editar Operador</h1>
      <div class="details-container">
        <form (ngSubmit)="onSubmit()" #operadorForm="ngForm">
          <label for="nombre">Nombre:</label>
          <input
            type="text"
            id="nombre"
            name="nombre"
            [(ngModel)]="operador.nombre"
            required
          />
  
          <label for="usuario">Usuario:</label>
          <input
            type="text"
            id="usuario"
            name="usuario"
            [(ngModel)]="operador.usuario"
            required
          />
  
          <label for="contrasena">Contraseña:</label>
          <input
            type="password"
            id="contrasena"
            name="contrasena"
            [(ngModel)]="operador.contrasena"
            required
          />
  
          <div class="button-container">
            <button
              type="submit"
              class="button-container-add greenn"
              [disabled]="!operadorForm.valid"
            >
              Actualizar Operador
            </button>
          </div>
        </form>
      </div>
    </main>
  </div>
