<layout-admin>
  <div
    class="main container"
    id="main"
  >
    <!--=============== MAIN ===============-->
    <main class="main-content">
      <h1>Detalles del Producto</h1>

      <div *ngIf="producto">
        <div class="product-container">
          <div class="product-image">
            <!-- Imagen del producto -->
            <img
              [src]="'http://localhost:8090' + producto.imagen"
              alt="Imagen del producto"
              width="50"
            />
          </div>

          <div class="product-details">
            <h2 class="product-title">{{ producto.nombre }}</h2>

            <div class="detail-item">
              <i class="ri-money-dollar-circle-line"></i>
              <span class="detail-label">Precio:</span>
              <span class="detail-value">{{ producto.precio | currency:'COP' }}</span>
            </div>

            <div class="detail-item">
              <i class="ri-file-text-line"></i>
              <span class="detail-label">Descripción:</span>
              <span class="detail-value">{{ producto.descripcion }}</span>
            </div>

            <div class="detail-item adicionales-section">
              <i class="ri-list-check"></i>
              <span class="detail-label">Adicionales:</span>
              <ul class="adicionales-list">
                <li *ngFor="let adicional of producto.adicionales">{{ adicional.nombre }}</li>
                <li *ngIf="!producto.adicionales || producto.adicionales.length === 0">
                  No hay adicionales disponibles
                </li>
              </ul>
            </div>

            <div class="actions-container">
              <a
                routerLink="/productos"
                class="btn-primary"
              >
                <i class="ri-arrow-left-line"></i> Volver al Listado
              </a>

            </div>
          </div>
        </div>
      </div>

      <div
        *ngIf="!producto"
        class="error-container"
      >
        <i class="ri-error-warning-line error-icon"></i>
        <p>Producto no encontrado.</p>
        <a
          routerLink="/productos/all"
          class="btn"
        >Volver al Listado</a>
      </div>
    </main>
  </div>
</layout-admin>
