/* Footer */
footer {
    background: #fff6e5;
    color: white;
    padding: 40px 20px;
    
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    min-width: 150px;
    margin: 5px;
    text-align: left;
    margin-top: 40px;
  }
  .footer-column2 {
  flex: 1;
  min-width: 150px;
  margin: 5px;
  text-align: left;
  margin-top: -50px;
  }
  .footer-logo {
    width: 200px;
    margin-bottom: 0px;
    
  }
  
  .footer-column h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #E67E22;
  }
  
  .footer-column p, .footer-column a {
    font-size: 16px;
    color: rgb(47, 26, 4);
    text-decoration: none;
    margin: 5px 0;
  }
  
  .footer-column a:hover {
    color: #E67E22;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icons img {
   
    transition: transform 0.3s ease;
    max-width: 50px;
    
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }
  
  /* From Uiverse.io by escannord */ 
  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    z-index: 0;
    border-radius: 50%;
    margin: 10px;
    width: 80px;
    height: 80px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: -1;
    border-radius: 50%;
    top: 100%;
  }
  .wrapper .icon:hover:after {
    animation: bg-pos 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1 both;
    animation-timing-function: ease-in-out;
  }
  
  .wrapper .icon:hover {
    color: #fff;
    overflow: unset;
    transition: color 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    animation: overflow-toggle 0.7s;
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  .wrapper .facebook::after {
    background-color: #1877f2;
  }
  .wrapper .twitter::after {
    background-color: #1da1f2;
  }
  .wrapper .instagram::after {
    background-color: #e4405f;
  }
  
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background: #1da1f2;
    color: #fff;
  }
  
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  
  @keyframes bg-pos {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }
  
  @keyframes overflow-toggle {
    0% {
      overflow: hidden;
    }
    100% {
      overflow: visible;
    }
  }
  .div13 {
    grid-row: span 3 / span 3;
    grid-row-start: 2;
  }
  
  .div14 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 2;
  }
  
  .div15 {
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 2;
  }
  
  
  .parent img {
    width: 350px; /* Ajusta el tamaño de la imagen según necesites */
    height: auto;
    border-radius: 10px; /* Bordes redondeados opcionales */
  }
  
  .parent p {
    flex: 1; /* Permite que el texto ocupe el espacio disponible */
    font-size: 18px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
  
  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    background-color: #1E2528;
    color: white;
  }
  