* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    margin: 0;
    font-family: 'Playfair Display', serif;
    color: white;
    --y-0: 90%;
    --c-0: hsla(97, 2%, 11%, 1);
    --x-0: 91%;
    --y-1: 24%;
    --c-1: hsla(75, 0%, 0%, 1);
    --x-1: 17%;
    --x-2: 11%;
    --c-2: hsla(359, 37%, 20%, 1);
    --y-2: 32%;
    --c-3: hsla(359, 100%, 52%, 1);
    --y-3: 31%;
    --x-3: 2%;
    --c-4: hsla(349, 0%, 0%, 1);
    --y-4: 93%;
    --x-4: 74%;
    background-color: hsla(356, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 5s linear infinite alternate-reverse;
    background-blend-mode: normal, normal, normal, normal, normal;
  }
  /* Fondo animado */
  @keyframes hero-gradient-animation {
    0% {
        --s-start-0: 1%;
        --s-end-0: 61%;
        --y-0: 90%;
        --c-0: hsla(97, 2%, 11%, 1);
        --x-0: 91%;
        --y-1: 24%;
        --s-start-1: 0%;
        --s-end-1: 55%;
        --c-1: hsla(75, 0%, 0%, 1);
        --x-1: 17%;
        --x-2: 11%;
        --s-start-2: 19%;
        --s-end-2: 54%;
        --c-2: hsla(359, 37%, 20%, 1);
        --y-2: 32%;
        --c-3: hsla(359, 100%, 52%, 1);
        --y-3: 31%;
        --x-3: 2%;
        --s-start-3: 0%;
        --s-end-3: 67%;
        --c-4: hsla(349, 0%, 0%, 1);
        --y-4: 93%;
        --x-4: 74%;
        --s-start-4: 12%;
        --s-end-4: 82%;
    }
  
    100% {
        --s-start-0: 8;
        --s-end-0: 53;
        --y-0: 100%;
        --c-0: hsla(97, 2%, 11%, 1);
        --x-0: 54%;
        --y-1: 62%;
        --s-start-1: 8;
        --s-end-1: 53;
        --c-1: hsla(75, 0%, 0%, 1);
        --x-1: 49%;
        --x-2: 64%;
        --s-start-2: 8;
        --s-end-2: 53;
        --c-2: hsla(359, 37%, 20%, 1);
        --y-2: 12%;
        --c-3: hsla(359, 100%, 52%, 1);
        --y-3: 35%;
        --x-3: 85%;
        --s-start-3: 8;
        --s-end-3: 53;
        --c-4: hsla(349, 0%, 0%, 1);
        --y-4: 79%;
        --x-4: 68%;
        --s-start-4: 8;
        --s-end-4: 53;
    }
  }
  
  @property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 1%
  }
  
  @property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
  }
  
  @property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90%
  }
  
  @property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(97, 2%, 11%, 1)
  }
  
  @property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 91%
  }
  
  @property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
  }
  
  @property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
  }
  
  @property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
  }
  
  @property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(75, 0%, 0%, 1)
  }
  
  @property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 17%
  }
  
  @property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 11%
  }
  
  @property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 19%
  }
  
  @property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 54%
  }
  
  @property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(359, 37%, 20%, 1)
  }
  
  @property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 32%
  }
  
  @property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(359, 100%, 52%, 1)
  }
  
  @property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31%
  }
  
  @property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 2%
  }
  
  @property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%
  }
  
  @property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 67%
  }
  
  @property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(349, 0%, 0%, 1)
  }
  
  @property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
  }
  
  @property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 74%
  }
  
  @property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 12%
  }
  
  @property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
  }
  
  /* Header */
  #header {
    background-color: rgba(218, 219, 216, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    width: 95%;
    margin: 20px auto 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.612);
    max-width: 2025px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    height: 120px;
  }
  .header-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-image: url('/assets/images/imagendiv3.jpeg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: 20%; /* Ajusta la imagen al alto del contenedor */
  object-fit: cover; /* Recorta la imagen para llenar el contenedor sin deformarla */
  border-radius: 5px; /* Mantiene el borde redondeado */
  }
  /* Fondo para toda la página */
  
  
  #header ul {
    display: flex;
    justify-content: space-evenly; /* Distribuye los elementos uniformemente */
    align-items: center;
    width: 80%; /* Hace que la lista ocupe más espacio */
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    gap: 50px; /* Separa más los elementos */
  }
  
  #header ul li {
    display: flex;
    align-items: center;
  }
  #header h1{
    color: black;
    font-family: 'Playfair Display', serif; /* Aplicar la fuente Playfair */
    font-size: 80px; /* Letra más grande */
  }
  #header ul a {
    text-decoration: none;
    color: rgb(2, 2, 2);
    
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px; /* Letra más grande */
    letter-spacing: 2px; /* Espaciado entre letras */
    
  }
  
  #header ul a:hover {
    font-size: 30px;
    text-decoration: underline;
    color: orange;
  }
  
  #logo {
    position: relative;
    top: -10px;
    left: -10px;
  }
  
  #logo img {
    max-width: 230px;
    height: auto;
  }
  
  #menu {
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    color: rgb(12, 12, 12);
    text-align: center;
    margin-top: 20px;
    text-shadow: 2px 2px 2px #888888;
    letter-spacing: 2px;
    background: linear-gradient(to right, #f8f8f8, #e0e0e0);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  
  /* From Uiverse.io by karthik092726122003 */ 
  .styled-wrapper .button {
    display: block;
    position: relative;
    width: 76px;
    height: 76px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .styled-wrapper .button:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
    border: 3px solid black; 
    transition:
      opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .styled-wrapper .button:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
    border: 4px solid #fc730b;
   
    transform: scale(1.3);
    transition:
      opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .styled-wrapper .button:hover:before,
  .styled-wrapper .button:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition:
      opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .styled-wrapper .button:hover:after,
  .styled-wrapper .button:focus:after {
    opacity: 1;
    transform: scale(1);
    transition:
      opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .styled-wrapper .button-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .styled-wrapper .button-elem {
    display: block;
    width: 30px;
    height: 30px;
    margin: 24px 18px 0 22px;
    transform: rotate(360deg);
    fill: #f0eeef;
  }
  
  .styled-wrapper .button:hover .button-box,
  .styled-wrapper .button:focus .button-box {
    transition: 0.4s;
    transform: translateX(-69px);
  }
  
  
  /* Secciones del menú */
  section {
    margin: 60px 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    position: center;
    z-index: 1;
    background-color: #1b2522;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0);
  }
  /* Clase para los contenedores de las secciones */
  .section-container {
    --y-0: 90%;
    --c-0: hsla(97, 2%, 11%, 1);
    --x-0: 91%;
    --y-1: 24%;
    --c-1: hsla(75, 0%, 0%, 1);
    --x-1: 17%;
    --x-2: 11%;
    --c-2: hsla(359, 37%, 20%, 1);
    --y-2: 32%;
    --c-3: hsla(359, 100%, 52%, 1);
    --y-3: 31%;
    --x-3: 2%;
    --c-4: hsla(349, 0%, 0%, 1);
    --y-4: 93%;
    --x-4: 74%;
    margin-top: 150px;
    background-color: hsla(356, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4));
    animation: hero-gradient-animation 5s linear infinite alternate-reverse;
    background-blend-mode: normal, normal, normal, normal, normal;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
  }
  
  /* Títulos de las secciones */
  h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: white; /* Cambia el color de las letras a blanco */
    font-weight: lighter;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 3px rgb(63, 63, 63);
    position: relative;
  }
  
  /* Grid para las tarjetas */
  .grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Aumentado de 250px a 350px */
  gap: 20px; /* Aumentado de 10px a 20px */
  padding: 15px;
  position: center;
  }
  
  /* Tarjetas */
  
  .card {
  overflow: visible;
  width: 280px; 
  height: 380px; 
  margin-bottom: 30px; 
  margin-left: auto;
  margin-right: auto;
  }
  
  .content {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms;
    box-shadow: 0px 0px 10px 1px #000000ee;
    border-radius: 5px;
  }
  
  .front, .back {
    background-color: #151515;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .back {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  
  .back::before {
    position: absolute;
    content: ' ';
    display: block;
    width: 240px;
    height: 160%;
    background: linear-gradient(90deg, transparent, #ff9966, #ff9966, #ff9966, #ff9966, transparent);
    animation: rotation_481 5000ms infinite linear;
  }
  
  .back-content {
    position: absolute;
    width: 99%;
    height: 99%;
    background-color: #151515;
    border-radius: 5px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  
  .back-content img.food-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  .card:hover .content {
    transform: rotateY(180deg);
  }
  
  @keyframes rotation_481 {
    0% {
      transform: rotateZ(0deg);
    }
  
    100% {
      transform: rotateZ(360deg);
    }
  }
  
  .front {
    transform: rotateY(180deg);
    color: white;
  }
  
  .front .front-content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  /* "Comida Típica" */
  .front-content .badge {
    background-color: #00000055;
    padding: 4px 12px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
    width: fit-content;
    font-size: 16px;
    text-align: center;
  }
  
  .description {
    box-shadow: 0px 0px 10px 5px #00000088;
    width: 100%;
    padding: 15px;
    background-color: #00000099;
    backdrop-filter: blur(5px);
    border-radius: 5px;
  }
  
  .title {
    font-size: 16px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .title p {
    width: 50%;
  }
  
  .card-footer {
    color: #ffffff88;
    margin-top: 8px;
    font-size: 12px;
  }
  
  .front .img {
    position: absolute;
    width: 120%;
    height: 120%;
    object-fit: cover;
    object-position: center;
  }
  
  .circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: #ffbb66;
    position: relative;
    filter: blur(15px);
    animation: floating 2600ms infinite linear;
  }
  
  #bottom {
    background-color: #ff8866;
    left: 50px;
    top: 0px;
    width: 200px;
    height: 200px;
    animation-delay: -800ms;
  }
  
  #right {
    background-color: #ff2233;
    left: 160px;
    top: -80px;
    width: 40px;
    height: 40px;
    animation-delay: -1800ms;
  }
  
  @keyframes floating {
    0% {
      transform: translateY(0px);
    }
  
    50% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(0px);
    }
  }

  .product-image {
    width: 100%;
    height: 100%; /* Asegura que ocupe toda la altura del contenedor */
    object-fit: cover; /* Mantiene las proporciones de la imagen */
    border-radius: 10px; /* Mantiene los bordes redondeados */
  }
  /* Footer */
  footer {
    background: #fff6e5;
    color: rgb(0, 0, 0);
    padding: 40px 20px;
    border-top: 2px solid #E67E22;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1400px;
    margin: 0 auto;
  }
  
  .footer-column {
    flex: 1;
    min-width: 150px;
    margin: 5px;
    text-align: left;
    margin-top: 40px;
  }
  
  .footer-column2 {
    flex: 1;
    min-width: 150px;
    margin: 5px;
    text-align: left;
    margin-top: -50px;
  }
  
  .footer-logo {
    width: 200px;
    margin-bottom: 0px;
  }
  
  .footer-column h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #E67E22;
  }
  
  .footer-column p, .footer-column a {
    font-size: 16px;
    color: rgb(47, 26, 4);
    text-decoration: none;
    margin: 5px 0;
  }
  
  .footer-column a:hover {
    color: #E67E22;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .social-icons img {
    transition: transform 0.3s ease;
    max-width: 50px;
  }
  
  .social-icons img:hover {
    transform: scale(1.2);
  }