
<app-headercliente></app-headercliente>
<main>
  <section id="steak">
      <div class="overlay">
          <h1>EL SABOR QUE ENCIENDE TU PALADAR</h1>
          <p>Carne premium · fuego auténtico · experiencia única</p>
          <a href="#menu" class="btn">Explora el Menú</a>
      </div>
      
  </section>
  <section id="menu">
      <h2>Pasion por el fuego, sabor que enciende los sentidos.</h2>
      <div class="parent3">
          <div class="div7"><img src="/assets/images/brochetasmain.jpeg" alt="Brasa & Corte"></div>
          <div class="div8"><img src="/assets/images/carnemain.jpeg" alt="Brasa & Corte"></div>
          <div class="div9"><img src="/assets/images/costillasmain.jpeg" alt="Brasa & Corte"></div>
          <div class="div10"><img src="/assets/images/pollomain.jpeg" alt="Brasa & Corte"></div>
          <div class="div11"><img src="/assets/images/pf1.png" alt="Brasa & Corte"></div> 
      </div> 
      
  </section>

  <div id="comida">
      <h2>Explora cada corte, cada sabor.... una experiencia a la brasa que nunca se repite</h2> 
      <div class="parent2">
          
          <div class="slider-container">
          
              <div class="slider-wrapper">
                  <img src="/assets/images/pf2.png" alt="Plato 1" class="active">
                  <img src="/assets/images/pf3.png" alt="Plato 2">
                  <img src="/assets/images/pf4.png" alt="Plato 3">
                  <img src="/assets/images/pf5.png" alt="Plato 4">
                  <img src="/assets/images/entrada2.png" alt="Plato 5">
                  <img src="/assets/images/croquetas.jpeg" alt="Plato 5">
                  <img src="/assets/images/drinks.jpeg" alt="Plato 5">
                  
              </div> 
          </div>
          </div>
          
      <script src="/js/script.js"></script>
  </div>

  <div id="reservas">
      <h2>PLATOS SUGERIDOS</h2>
      
      <div class="parent3">
          <div class="card">
              <img src="/assets/images/pf1.png" alt="tomahawk">
              <h3>Tomahawk</h3>
              <p>Corte premium con hueso largo, ideal para los amantes de la carne que buscan un plato impactante tanto en presentación como en sabor. Asado lentamente al carbón para resaltar su jugosidad y textura, se sirve acompañado de papas gajo crujientes y una ensalada criolla con toque de limón y cilantro fresco.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/pf2.png" alt="Churrasco">
              <h3>Churrasco</h3>
              <p>Corte tradicional de res a la parrilla, sazonado con una mezcla especial de especias que realzan su textura y aroma. Cocinado al punto ideal para conservar su suavidad, se acompaña de papas rústicas doradas y una ensalada fresca con vinagreta casera que equilibra el plato a la perfección.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/pf3.png" alt="BabyBeef">
              <h3>Baby Beef</h3>
              <p>Exquisito corte de carne de res joven. Asado a la perfección para conservar todos sus jugos naturales, este plato se sirve con un cremoso puré de papa y vegetales salteados al estilo casero, creando una combinación ideal para quienes buscan una experiencia suave y sabrosa.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/pf4.png" alt="Costillas BBQ">
              <h3>Costillas BBQ</h3>
              <p>Tiernas costillas de cerdo marinadas durante horas en nuestra salsa BBQ artesanal con notas dulces y ahumadas. Cocinadas a fuego lento para lograr una textura suave que se desprende del hueso, se sirven con papas fritas doradas  y aderezo de la casa.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/pf5.png" alt="Postre">
              <h3>Asado Argentino</h3>
              <p>Corte clásico de la gastronomía argentina preparado a la parrilla con técnica tradicional. Acompañado de chimichurri casero, yuca frita crocante y una ensalada fresca de temporada, este plato celebra la auténtica esencia del asado sudamericano del pais argentino con un toque especial.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/entrada2.png" alt="Hamburguesa">
              <h3>chicharrón</h3>
              <p>Crujiente y dorado chicharrón de cerdo, preparado lentamente para lograr una textura exterior perfectamente crocante y un interior jugoso. Sazonado con especias tradicionales y acompañado de arepa blanca, patacón y ají casero, es una explosión de sabor típica de nuestra cocina colombiana.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/entrada3.png" alt="Costillas">
              <h3>Empanadas</h3>
              <p>Deliciosa empanada de maíz rellena con carne sazonada, papa criolla y cebolla, todo perfectamente condimentado. Frita hasta obtener un exterior dorado y crocante, se sirve con ají casero y limón para realzar cada bocado con un toque picante y fresco.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/entrada4.png " alt="Tomahawk">
              <h3>Chorizo</h3>
              <p>Chorizo artesanal, asado a la parrilla para lograr un sabor ahumado inconfundible. Elaborado con carne de cerdo de alta calidad y especias naturales, se sirve con arepita, limón y salsa especial de la casa, ideal como entrada o acompañante tradicional.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/bebida12.jpg" alt="Entrada 1">
              <h3>Drink Azul</h3>
              <p>Refrescante bebida azul de la casa, elaborada con una mezcla secreta de frutas tropicales y un toque cítrico que la hace perfecta para acompañar cualquier plato. Servida bien fría con hielo, es ideal para disfrutar en un ambiente relajado y lleno de sabor.</p>
              <button>Comprar</button>
          </div>
          <div class="card">
              <img src="/assets/images/bebida9.jpg" alt="Postre">
              <h3>Drink Roja</h3>
              <p>Colorida y vibrante bebida roja preparada con extractos naturales de frutas rojas como fresa y mora, mezcladas con un toque de soda y hierbabuena. Su equilibrio entre dulzura y frescura la convierte en la compañera ideal para una comida llena de sabor.</p>
              <button>Comprar</button>
          </div>
      </div>
  </div>
 
  
  <div id="encuentranos">
    
      <div class="parent4">
      <div class="contenido">
          <div class="info">
              
                  <h2>Encuentranos y dejate llevar por el sabor</h2>
                  <p>Estamos ubicados en un lugar privilegiado.  </p>
                  <p>Visítanos y vive la experiencia Sabor y Brasa.</p>
                  <p>Centro Comercial Andino</p>
                  
              </div>
              <iframe class="mapa"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.590598601002!2d-74.05514752526133!3d4.666847995308027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9af5539e0589%3A0x58f8536449f01c72!2sCentro%20Comercial%20Andino!5e0!3m2!1ses-419!2sco!4v1740027108627!5m2!1ses-419!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div> 
</div>
</main>