<!--=============== SIDEBAR ===============-->
<nav class="sidebar" id="sidebar">
    <div class="sidebar__container">
      <div class="sidebar__user">
        <div class="sidebar__img">
          <img src="assets/images/administrador.png" alt="Administrador" />
        </div>
        <div class="sidebar__info">
          <h3>Juan Jose Bermudez</h3>
        </div>
      </div>

      <div class="sidebar__content">
        <h3 class="sidebar__title">MANAGE</h3>
        <div class="sidebar__list">
          <a routerLink="/perfil" class="sidebar__link">
            <i class="ri-profile-line"></i>
            <span>Mi Perfil</span>
          </a>
          <a routerLink="/operadores" class="sidebar__link">
            <i class="ri-walk-line"></i>
            <span>Operadores</span>
          </a>
          <a routerLink="/domiciliarios" class="sidebar__link">
            <i class="ri-riding-line"></i>
            <span>Domiciliarios</span>
          </a>
          <a routerLink="/productos" class="sidebar__link">
            <i class="ri-restaurant-fill"></i>
            <span>Productos</span>
          </a>
          <a routerLink="/adicionales" class="sidebar__link">
            <i class="ri-goblet-2-fill"></i>
            <span>Adicionales</span>
          </a>
          <a routerLink="/clientes" class="sidebar__link">
            <i class="ri-user-fill"></i>
            <span>Clientes</span>
          </a>
          <a routerLink="/operadores" class="sidebar__link">
            <i class="ri-user-fill"></i>
            <span>Operadores</span>
          </a>
          
          <a routerLink="/dashboard" class="sidebar__link active-link">
            <i class="ri-pie-chart-2-fill"></i>
            <span>Dashboard</span>
          </a>
        </div>
      </div>

      <div class="sidebar__actions">
        <button class="sidebar__link">
          <i class="ri-logout-box-r-fill"></i>
          <span>Log Out</span>
        </button>
      </div>
    </div>
  </nav>