<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="profile">
      <img src="assets/images/administrador.png" alt="Foto" class="profile-img" />
      <h2>Juan Jose Bermudez</h2>
    </div>

    <nav class="nav">
      <a routerLink="/administrador" class="nav-link "><i class="ri-pie-chart-2-fill"></i> Dashboard</a>
      <a routerLink="/operadores" class="nav-link"><i class="ri-walk-line"></i> Operadores</a> 
      <a routerLink="/productos" class="nav-link"><i class="ri-restaurant-fill"></i> Productos</a>
      <a routerLink="/adicionales" class="nav-link"><i class="ri-goblet-2-fill"></i> Adicionales</a>
      <a routerLink="/clientes" class="nav-link active"><i class="ri-user-fill"></i> Clientes</a>
      <a routerLink="/" class="nav-link logout"><i class="ri-logout-box-line"></i> Log Out</a>
    </nav>
  </aside>

  <!-- Contenido principal -->
  <main class="main-content">
    <h1>Detalles del Cliente</h1>

    <div class="card-client">
      <div class="card-header">
        <i class="ri-user-3-fill"></i>
        <h2>{{ cliente?.nombre }} {{ cliente?.apellido }}</h2>
        <p>Información completa del cliente registrada en el sistema</p>
      </div>

      <div class="card-body">
        <div class="info-pair">
          <i class="ri-user-line"></i>
          <div>
            <label>Nombre</label>
            <span>{{ cliente?.nombre }}</span>
          </div>
        </div>

        <div class="info-pair">
          <i class="ri-user-line"></i>
          <div>
            <label>Apellido</label>
            <span>{{ cliente?.apellido }}</span>
          </div>
        </div>

        <div class="info-pair">
          <i class="ri-mail-line"></i>
          <div>
            <label>Email</label>
            <span>{{ cliente?.email }}</span>
          </div>
        </div>

        <div class="info-pair">
          <i class="ri-phone-line"></i>
          <div>
            <label>Teléfono</label>
            <span>{{ cliente?.telefono }}</span>
          </div>
        </div>

        <div class="info-pair wide">
          <i class="ri-map-pin-line"></i>
          <div>
            <label>Dirección</label>
            <span>{{ cliente?.direccion }}</span>
          </div>
        </div>
      </div>

      <div class="card-actions">
        <a routerLink="/clientes" class="btn-action back">
          <i class="ri-arrow-left-line"></i> Volver
        </a>
        <a [routerLink]="['/clientes/editar', cliente?.id]" class="btn-action edit">
          <i class="ri-edit-line"></i> Editar
        </a>
      </div>
    </div>
  </main>
</div>
