<header>
  <div id="header">
    <img src="/assets/images/steak3.png" alt="Imagen de fondo del header" class="header-bg">
    <div id="logo">
        <a href="/login">
            <img src="/assets/images/logo brasa.png" alt="Brasa & Corte" style="cursor: pointer;">
        </a>
        </div>
       
    <ul>
        <li><a routerLink="/menu">Menu</a></li>
        <li><a href="#menu">Acerca de Nosotros</a></li>
        <li><a href="#comida">Comida</a></li>
        <li><a href="#reservas">Sugerencias</a></li>
        <li><a href="#galleria">Galleria</a></li>
        <li><a href="#encuentranos">Ubicacion</a></li>
       
        
    
    </ul>

</div>
  </header>