<div class="container">
  <!-- Sidebar -->
  <aside class="sidebar">
    <div class="profile">
      <img src="assets/images/administrador.png" alt="Foto" class="profile-img" />
      <h2>Juan Jose Bermudez</h2>
    </div>

    <nav class="nav">
      <a routerLink="/administrador" class="nav-link "><i class="ri-pie-chart-2-fill"></i> Dashboard</a>
      <a routerLink="/operadores" class="nav-link"><i class="ri-walk-line"></i> Operadores</a> 
      <a routerLink="/productos" class="nav-link"><i class="ri-restaurant-fill"></i> Productos</a>
      <a routerLink="/adicionales" class="nav-link active"><i class="ri-goblet-2-fill"></i> Adicionales</a>
      <a routerLink="/clientes" class="nav-link"><i class="ri-user-fill"></i> Clientes</a>
      <a routerLink="/" class="nav-link logout"><i class="ri-logout-box-line"></i> Log Out</a>
    </nav>
  </aside>


  <!-- Contenido principal -->
  <main class="main-content">
    <h1>Editar Adicional</h1>

    <div class="card-client">
      <form (ngSubmit)="onSubmit()" #adicionalForm="ngForm" class="formulario-editar">
        <!-- Campo oculto para ID -->
        <input type="hidden" name="id" [(ngModel)]="adicional.id" />

        <div class="form-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="adicional.nombre" required />
          <div *ngIf="adicionalForm.controls['nombre']?.invalid && adicionalForm.controls['nombre']?.touched">
            <small class="error">El nombre es obligatorio.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="precio">Precio:</label>
          <input type="number" id="precio" name="precio" [(ngModel)]="adicional.precio" required min="0" step="0.01" />
          <div *ngIf="adicionalForm.controls['precio']?.invalid && adicionalForm.controls['precio']?.touched">
            <small class="error">El precio debe ser mayor o igual a 0.</small>
          </div>
        </div>

        <div class="form-group wide">
          <label for="descripcion">Descripción:</label>
          <input type="text" id="descripcion" name="descripcion" [(ngModel)]="adicional.descripcion" required />
          <div *ngIf="adicionalForm.controls['descripcion']?.invalid && adicionalForm.controls['descripcion']?.touched">
            <small class="error">La descripción es obligatoria.</small>
          </div>
        </div>

        <div class="card-actions">
          <a routerLink="/adicionales" class="btn-action back">
            <i class="ri-arrow-left-line"></i> Cancelar
          </a>
          <button type="submit" class="btn-action edit" [disabled]="!adicionalForm.valid">
            <i class="ri-check-line"></i> Actualizar Adicional
          </button>
        </div>
      </form>
    </div>
  </main>
</div>
