<layout-admin>
  <div
    class="main container"
    id="main"
  >
    <!--=============== MAIN ===============-->
    <main class="main-content">
      <h1>Editar Adicional</h1>
      <div class="form-container">
        <form
          (ngSubmit)="onSubmit()"
          #adicionalForm="ngForm"
        >
          <!-- Campo oculto para el ID del adicional -->
          <input
            type="hidden"
            name="id"
            [(ngModel)]="adicional.id"
          />

          <!-- Campo Nombre -->
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              [(ngModel)]="adicional.nombre"
              required
              class="form-control"
            />
            <div *ngIf="adicionalForm.controls['nombre']?.invalid && adicionalForm.controls['nombre']?.touched">
              <small class="error">El nombre es obligatorio.</small>
            </div>
          </div>

          <!-- Campo Precio -->
          <div class="form-group">
            <label for="precio">Precio:</label>
            <input
              type="number"
              id="precio"
              name="precio"
              [(ngModel)]="adicional.precio"
              required
              class="form-control"
              min="0"
              step="0.01"
            />
            <div *ngIf="adicionalForm.controls['precio']?.invalid && adicionalForm.controls['precio']?.touched">
              <small class="error">El precio debe ser mayor o igual a 0.</small>
            </div>
          </div>

          <!-- Campo Descripción -->
          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input
              type="text"
              id="descripcion"
              name="descripcion"
              [(ngModel)]="adicional.descripcion"
              required
              class="form-control"
            />
            <div
              *ngIf="adicionalForm.controls['descripcion']?.invalid && adicionalForm.controls['descripcion']?.touched"
            >
              <small class="error">La descripción es obligatoria.</small>
            </div>
          </div>

          <!-- Botones -->
          <div class="button-container-add">
            <button
              type="submit"
              class="btn-submit "
              [disabled]="!adicionalForm.valid"
            >
              Actualizar Adicional
            </button>
            <a
              routerLink="/adicionales"
              class="btn-submit "
            >
              <i class="ri-arrow-left-line"></i> Volver al Listado
            </a>
          </div>
        </form>
      </div>
    </main>
  </div>
</layout-admin>
