<div class="container">
  <!-- Sidebar -->
   <aside class="sidebar">
    <div class="profile">
      <img src="assets/images/administrador.png" alt="Foto" class="profile-img" />
      <h2>Juan Jose Bermudez</h2>
    </div>

    <nav class="nav">
      <a routerLink="/administrador" class="nav-link "><i class="ri-pie-chart-2-fill"></i> Dashboard</a>
      <a routerLink="/operadores" class="nav-link active"><i class="ri-walk-line"></i> Operadores</a> 
      <a routerLink="/productos" class="nav-link"><i class="ri-restaurant-fill"></i> Productos</a>
      <a routerLink="/adicionales" class="nav-link"><i class="ri-goblet-2-fill"></i> Adicionales</a>
      <a routerLink="/clientes" class="nav-link"><i class="ri-user-fill"></i> Clientes</a>
      <a routerLink="/" class="nav-link logout"><i class="ri-logout-box-line"></i> Log Out</a>
    </nav>
  </aside>
  <!-- Contenido principal -->
  <main class="main-content">
    <h1>Detalles del Operador</h1>

    <div class="card-client" *ngIf="operador">
      <div class="card-header">
        <i class="ri-user-settings-fill"></i>
        <h2>{{ operador.nombre }}</h2>
        <p>Información completa del operador registrada en el sistema</p>
      </div>

      <div class="card-body">
        <div class="info-pair">
          <i class="ri-user-line"></i>
          <div>
            <label>Nombre</label>
            <span>{{ operador.nombre }}</span>
          </div>
        </div>

        <div class="info-pair">
          <i class="ri-user-2-line"></i>
          <div>
            <label>Usuario</label>
            <span>{{ operador.usuario }}</span>
          </div>
        </div>

        <div class="info-pair wide">
          <i class="ri-lock-line"></i>
          <div>
            <label>Contraseña</label>
            <span>{{ operador.contrasena }}</span>
          </div>
        </div>
      </div>

      <div class="card-actions">
        <a routerLink="/operadores" class="btn-action back">
          <i class="ri-arrow-left-line"></i> Volver
        </a>
        <a [routerLink]="['/operadores/editar', operador.id]" class="btn-action edit">
          <i class="ri-edit-line"></i> Editar
        </a>
      </div>
    </div>
  </main>
</div>
