<!--=============== SIDEBAR ===============-->
<!-- <nav
  class="sidebar"
  id="sidebar"
>
  <div class="sidebar__container">
    <div class="sidebar__user">
      <div class="sidebar__img">
        <img
          src="/assets/images/administrador.png"
          alt="image"
        />
      </div>
      <div class="sidebar__info">
        <h3>Juan Jose Bermudez</h3>
        <span></span>
      </div>
    </div>

    <div class="sidebar__content">
      <div>
        <h3 class="sidebar__title">MANAGE</h3>
        <div class="sidebar__list">
          <a
            routerLink="/perfil"
            class="sidebar__link"
          >
            <i class="ri-profile-line"></i>
            <span>Mi Perfil</span>
          </a>
          <a
            routerLink="/operadores"
            class="sidebar__link"
          >
            <i class="ri-walk-line"></i>
            <span>Operadores</span>
          </a>
          <a
            routerLink="/domiciliarios"
            class="sidebar__link"
          >
            <i class="ri-riding-line"></i>
            <span>Domiciliarios</span>
          </a>
          <a
            routerLink="/productos"
            class="sidebar__link"
          >
            <i class="ri-restaurant-fill"></i>
            <span>Productos</span>
          </a>
          <a
            routerLink="/adicionales"
            class="sidebar__link"
          >
            <i class="ri-goblet-2-fill"></i>
            <span>Adicionales</span>
          </a>
          <a
            routerLink="/clientes"
            class="sidebar__link"
          >
            <i class="ri-user-fill"></i>
            <span>Clientes</span>
          </a>
          <a
            routerLink="/operadores"
            class="sidebar__link"
          >
            <i class="ri-user-fill"></i>
            <span>Operadores</span>
          </a>

          <a
            routerLink="/dashboard"
            class="sidebar__link active-link"
          >
            <i class="ri-pie-chart-2-fill"></i>
            <span>Dashboard</span>
          </a>
        </div>
      </div>
      <div>
        <h3 class="sidebar__title">SETTINGS</h3>
        <div class="sidebar__list">
          <a
            href="#"
            class="sidebar__link"
          ></a>
        </div>
      </div>
    </div>
    <div class="sidebar__actions">
      <button></button>
      <a
        routerLink="/"
        class="sidebar__link"
      >
        <i class="ri-logout-box-r-fill"></i>
        <span>Log Out</span>
      </a>
    </div>
  </div>
</nav> -->

<layout-admin>
  <main
    class="main container"
    id="main"
  >
    <div class="main-content">
      <h1>Bienvenido a su portal de administrador</h1>
      <div class="table-container">
        <section class="dashboard">
          <div class="card">
            <i class="ri-restaurant-fill"></i>
            <h2>120</h2>
            <p>Productos</p>
          </div>
          <div class="card">
            <i class="ri-user-fill"></i>
            <h2>350</h2>
            <p>Clientes</p>
          </div>
          <div class="card">
            <i class="ri-shopping-cart-fill"></i>
            <h2>45</h2>
            <p>Pedidos en Curso</p>
          </div>
          <div class="card">
            <i class="ri-money-dollar-circle-fill"></i>
            <h2>$25,000</h2>
            <p>Ventas Mensuales</p>
          </div>
        </section>
      </div>
    </div>
  </main>
</layout-admin>
