/* Sección principal */
#menu {
  display: flex;   
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  background-color: #1b2522;
  margin-top: 200px; /* Mantiene el margen superior */
  height: 500px; /* Aumenta la altura total */
}

#informacionPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

#menu h2 {
  text-decoration: none;
  color: #E4B363; /* Dorado elegante */
  font-family: "Poltawski Nowy";
  font-size: 80px; /* Letra más grande */
  margin-top: 20px; /* Ajusta el margen superior para bajarlo */
  text-align: center; /* Asegura que esté alineado si es necesario */
}

#menu p {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Lora', serif; /* Aplicar la fuente Lora */
  font-size: 40px; /* Letra más grande */
  text-align: center;
  justify-content: center; /* Centrar el texto */
}
#informacionPrincipal p{
  font-size: 30px;
  font-weight: bold;
}


#imagenPrincipal img{

 margin-bottom:0;
}
.parent {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 0.8fr); /* Reducir tamaño de filas */
  gap: 20px; /* Reducir separación */
  border-radius: 15px;
  padding: 10px; /* Reducir padding */
  background-color: rgba(0, 0, 0, 0.477);
  max-width: 1800px;
  max-height: 500px; /* Reducir altura máxima */
  width: 100%;
  height: 50%; /* Ajustar altura */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: -80px; /* Reducir este valor para subirlo */
  margin-left: 50px;
}
.div20 {
grid-column: span 3 / span 3;
grid-row: span 5 / span 5;
border-radius: 15px;
padding: 20px;

max-width: 1200px;
width: 100%;
height: 100%;

gap: 50px; /* Espaciado entre imagen y texto */
}

.div21 {
grid-column: span 2 / span 2;
grid-row: span 5 / span 5;
grid-column-start: 4;

}
.div20 img{
width: 100%; /* Ajusta la imagen al ancho del contenedor */
height: 100%; /* Ajusta la imagen al alto del contenedor */
object-fit: cover; /* Recorta la imagen para llenar el contenedor sin deformarla */
border-radius: 5px; /* Mantiene el borde redondeado */
}
/* Finaliza seccion acerca de nosotros*/

/* Seccion comida */
#comida {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-wrap: wrap; /* Permite que el contenido se ajuste si es necesario */
  width: 100%;
  background-color: #1b2522;
  padding: 50px 20px; /* Espaciado uniforme */
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  text-align: center; /* Asegura que el texto dentro se centre */
}

#comida h2 {
  text-decoration: none;
  color: #E4B363; /* Dorado elegante */
  font-family: "Poltawski Nowy";
  font-size: 80px;
  margin-top: -80px; /* Usa un valor negativo para subirlo */
  text-align: center;
}

.parent2 {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 0.8fr); /* Reducir tamaño de filas */
  gap: 20px; /* Reducir separación */
  border-radius: 15px;
  padding: 10px; /* Reducir padding */
  background-color: rgba(0, 0, 0, 0.477);
  max-width: 1800px;
  max-height: 500px; /* Reducir altura máxima */
  width: 100%;
  height: 50%; /* Ajustar altura */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px; /* Reducir este valor para subirlo */
  margin-left: 50px;
}
.div1 {
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  grid-row: span 3 / span 3;
  grid-row-start: 2;
  border-radius: 15px;
  padding: 20px;
  
  max-width: 1200px;
  width: 100%;
  height: 100%;
  
  gap: 50px; /* Espaciado entre imagen y texto */
}

.div2 {
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 2;
  border-radius: 15px;
  padding: 20px;
  
  max-width: 1200px;
  width: 100%;
  height: 100%;
 
  gap: 50px; /* Espaciado entre imagen y texto */
}

.div3 {
  flex-direction: column; /* Apila los elementos verticalmente */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 2;
  border-radius: 15px;
  padding: 20px;
 
  max-width: 1200px;
  width: 100%;
  height: 100%;
 
  gap: 50px; /* Espaciado entre imagen y texto */
}

.div1 img, .div2 img, .div3 img {
  width: 100%; /* Ajusta la imagen al ancho del contenedor */
  height: 100%; /* Ajusta la imagen al alto del contenedor */
  object-fit: cover; /* Recorta la imagen para llenar el contenedor sin deformarla */
  border-radius: 5px; /* Mantiene el borde redondeado */
}
.title-container {
  display: flex;
  justify-content: center; /* Centra el título horizontalmente */
  align-items: center;
 
  padding: 10px;
}

.title-box {
  background-color: #FF8C00; /* Color de fondo naranja */
  color: white; /* Color del texto */
  padding: 10px 20px;
  border-radius: 10px; /* Bordes redondeados */
  font-family: 'Playfair Display', serif;
  font-size: 1.5rem;
  text-align: center;
}
/* Slider */
.slider-container {
overflow: hidden;
position: center;
width: 100%;
max-width: 1000px;
margin: 0 auto;
border-radius: 15px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
padding: auto;
}

.slider-wrapper {
display: flex;
flex-wrap: nowrap;
animation: scroll 30s linear infinite;
width: max-content; /* Permite que el contenido se desplace sin romperse */
}

.slider-wrapper img {
width: 400px;
height: 400px;

object-fit: cover;
border-radius: 10px;
margin: 0 10px;
}

/* Animación continua */
@keyframes scroll {
0% {
    transform: translateX(0);
}
100% {
    transform: translateX(-50%);
}
}
/* Finaliza Sección comida*/

/* Inicia Sección Reservas*/
#reservas {
  display: flex;
  flex-direction: column; /* Acomoda los elementos en columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  width: 100%;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  background-color: #1b2522;
  box-sizing: border-box;
  padding: 20px;
}

#reservas h2 {
  color: #E4B363; /* Dorado elegante */
  font-family: "Poltawski Nowy";
  font-size: 80px;
  text-align: center;
  position: relative;
  margin-top: -350px;
  margin-bottom: 100px; /* Aumenta el espacio debajo del h2 */
}

.parent3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 0.8fr); /* Tamaño de filas */
  gap: 20px; /* Reducir separación */
  border-radius: 15px;
  padding: 10px; /* Reducir padding */
  background-color: rgba(0, 0, 0, 0.477);
  max-width: 1800px;
  max-height: 500px; /* Reducir altura máxima */
  width: 100%;
  height: 50%; /* Ajustar altura */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: -80px; /* Reducir este valor para subirlo */
  margin-left: 50px;
}

.div4 {
  grid-column: span 3 / span 3;
  grid-row: span 5 / span 5;
  grid-column-start: 3;
  grid-row-start: 1;
  border-radius: 15px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  gap: 50px; /* Espaciado entre imagen y texto */
}

.div5 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 1;
  border-radius: 15px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  gap: 50px; /* Espaciado entre imagen y texto */
}

.div6 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 4;
  border-radius: 15px;
  padding: 20px;
  max-width: 1200px;
  width: 100%;
  height: 100%;
  gap: 50px; /* Espaciado entre imagen y texto */
}

.div4 img, .div5 img, .div6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.titulo-naranja {
  background-color: #FF8C00; /* Naranja */
  color: white; /* Texto blanco */
  text-align: center; /* Centrado */
  font-family: 'Playfair Display', serif; /* Tipografía elegante */
  font-size: 40px; /* Tamaño de fuente */
  padding: 15px 20px; /* Espaciado interno */
  width: 50%; /* Ancho del título */
  margin: 30px auto; /* Centrado horizontalmente y espacio superior */
  border-radius: 10px; /* Bordes redondeados */
}

/* Finaliza Sección Reservas*/

/* Inicia Sesion Galeria */


#galleria {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #1b2522;
  font-family: "Nunito", sans-serif;
  
}
#galleria h2 {
  color: #E4B363; /* Dorado elegante */
  font-family: "Poltawski Nowy";
  font-size: 80px;
  text-align: center;
  position: relative;
  margin-top: -350px;
  margin-bottom: 100px; /* Aumenta el espacio debajo del h2 */
}
.div7 {
  grid-row: span 5 / span 5;
}

.div8 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 4;
  grid-row-start: 4;
}

.div9 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

.div10 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 3;
}

.div11 {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
  grid-column-start: 4;
  grid-row-start: 1;
}

.div7 img, .div8 img, .div9 img, .div10 img, .div11 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* finaliza seccion galleria */

#encuentranos {
  display: flex;
  justify-content: space-evenly; /* Asegura que los elementos estén separados */
  align-items: center; /* Centra verticalmente los elementos */
  flex-direction: row-reverse; /* Invierte el orden de los elementos */
  width: 100%;
  background-color: #1b2522;
  padding: 20px; /* Añade un poco de espacio alrededor del contenido */
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.contenido {
  display: flex;
  width: 100%;
  font-family: "Nunito", sans-serif;
}

.info {
  width: 60%; /* Ajusta el ancho del contenedor del texto */
  text-align: left; /* Alinea el texto a la izquierda */
  font-size: 7em; /* Agranda el tamaño del texto */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente el contenido */
  align-items: flex-start; /* Alinea el contenido al inicio (izquierda) */
  padding-left: 15%; /* Añade espacio a la izquierda para mover el texto hacia el centro */
  font-family: "Poltawski Nowy";
}


.info h2 {
  font-size: 50px;
  font-family: "Poltawski Nowy";
  color: #E4B363; /* Dorado elegante */
}

.info p{
  font-size: 28px;
  color: white;
  font-family: "Poltawski Nowy";
}
.mapa {
  margin-right: 50px;
  width: 40%; /* Ajusta el ancho del contenedor del mapa */
  height: 500px; /* Ajusta la altura del mapa */
}
.parent4 {
  display: flex;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 0.8fr); /* Tamaño de filas */
  gap: 20px; /* Reducir separación */
  border-radius: 15px;
  padding: 10px; /* Reducir padding */
  background-color: rgba(0, 0, 0, 0.477);
  max-width: 1800px;
  max-height: 500px; /* Reducir altura máxima */
  width: 100%;
  height: 50%; /* Ajustar altura */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: 50px; /* Reducir este valor para subirlo */
  margin-left: 50px;
}
@keyframes bg-pos {
  0% {
    top: 100%;
  }
  100% {
    top: 0;
  }
}

@keyframes overflow-toggle {
  0% {
    overflow: hidden;
  }
  100% {
    overflow: visible;
  }
}
.div13 {
  grid-row: span 3 / span 3;
  grid-row-start: 2;
}

.div14 {
  grid-row: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div15 {
  grid-row: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 2;
}


.parent img {
  width: 350px; /* Ajusta el tamaño de la imagen según necesites */
  height: auto;
  border-radius: 10px; /* Bordes redondeados opcionales */
}

.parent p {
  flex: 1; /* Permite que el texto ocupe el espacio disponible */
  font-size: 18px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');

body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  background-color: #1E2528;
  color: white;
}
