<layout-admin>
  <div
    class="main container"
    id="main"
  >
    <!--=============== MAIN ===============-->
    <main class="main-content">
      <h1>Editar Producto</h1>
      <div class="details-container">
        <form
          (ngSubmit)="onSubmit()"
          #productoForm="ngForm"
        >

          <!-- Campo oculto para el ID del producto -->
          <input
            type="hidden"
            name="id"
            [(ngModel)]="producto.id"
          />

          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input
              type="text"
              id="nombre"
              name="nombre"
              [(ngModel)]="producto.nombre"
              required
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label for="precio">Precio:</label>
            <input
              type="number"
              id="precio"
              name="precio"
              [(ngModel)]="producto.precio"
              step="0.01"
              required
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label for="descripcion">Descripción:</label>
            <input
              type="text"
              id="descripcion"
              name="descripcion"
              [(ngModel)]="producto.descripcion"
              required
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label for="imagen">URL de Imagen:</label>
            <input
              type="text"
              id="imagen"
              name="imagen"
              [(ngModel)]="producto.imagen"
              required
              class="form-control"
            />
          </div>

          <!-- Selección de adicionales como checkboxes -->
          <div class="form-group">
            <label for="adicionales">Adicionales:</label>
            <div
              *ngFor="let adicional of adicionales; let i = index"
              class="checkbox-group"
            >
              <label>
                <input
                  type="checkbox"
                  [checked]="isAdicionalSelected(adicional)"
                  (change)="toggleAdicional(adicional)"
                />
                {{ adicional.nombre }}
              </label>
            </div>

          </div>

          <!-- Botón para enviar el formulario -->
          <div class="button-container-add">
            <button
              type="submit"
              class="btn-submit "
              [disabled]="!productoForm.valid"
            >Actualizar</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</layout-admin>
