<div id="header">
  <div id="logo">
    <img src="/assets/images/logo brasa.png" alt="Brasa & Corte" />
  </div>

  <ul>
    <li><a href="#menu">Menu</a></li>
    <li><a href="#menu">Acerca de Nosotros</a></li>
    <li><a href="#comida">Comida</a></li>
    <li><a href="#reservas">Reservas</a></li>
    <li><a href="#galleria">Galleria</a></li>
    <li><a href="#encuentranos">Ubicación</a></li>
    <li>
      <button class="Btn" routerLink="/">
  <div class="sign">
    <svg viewBox="0 0 512 512">
      <path
        d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"
      ></path>
    </svg>
  </div>
  <div class="text">Main</div>
</button>
    </li>
  </ul>
</div>

<!-- Formulario de Inicio de Sesión -->
<div class="login-container">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm" class="form">
    <h2>Iniciar Sesión Cliente</h2>

    <div class="flex-column">
      <label for="email">Email</label>
    </div>
    <div class="inputForm">
      <input
        type="text"
        id="email"
        name="email"
        [(ngModel)]="email"
        placeholder="Ingrese su Email"
        required
        class="input"
      />
    </div>

    <div class="flex-column">
      <label for="password">Contraseña</label>
    </div>
    <div class="inputForm">
      <input
        type="password"
        id="password"
        name="password"
        [(ngModel)]="password"
        placeholder="Ingrese su Contraseña"
        required
        class="input"
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
      Iniciar Sesión
    </button>

    <a href="/registrar" class="btn btn-primary">Registrar</a>



    <div *ngIf="errorMessage" class="error-message">
      <p style="color: red;">{{ errorMessage }}</p>
    </div>
  </form>
</div>