<footer>
    <div class="footer-container">
        <div class="footer-column2">
            <img src="/images/logo brasa.png" alt="Logo de Brasa y Corte" class="footer-logo">
            
        </div>
        <div class="footer-column">
            <h3>Contacto</h3>
            <p><a href="mailto:info&#64;brasaycorte.com">info&#64;brasaycorte.com</a></p>
            <p><a href="tel:+123456789">+123 456 789</a></p>
            <p>Dirección: Calle Falsa 123, Ciudad</p>
        </div>
        <div class="footer-column">
            <h3>Horarios</h3>
            <p>Lunes a Viernes: 12:00 - 23:00</p>
            <p>Sábado y Domingo: 12:00 - 00:00</p>
        </div>
        <div class="footer-column social-links">
            <h3>Síguenos</h3>
            <div class="social-icons">
                <a href="#facebook"><img src="/images/facebook.png" alt="Facebook"></a>
                <a href="#instagram"><img src="/images/instagram.png" alt="Instagram"></a>
                <a href="#x"><img src="/images/logotipos.png" alt="X"></a>
            </div>
        </div>
    </div>
</footer>
